.venv/
__pycache__/
app/alembic/__pycache__/
app/api/__pycache__/
app/models/__pycache__/
app/schema/__pycache__/
app/utils/__pycache__/
app/__pycache__/
.vercel
.env
user_conversation/
data.json
result.json
output.csv