fastapi==0.111.0
groq==0.9.0
langchain==0.2.3
langchain==0.2.3
langchain-community==0.2.4
langchain-core==0.2.5
langchain-google-genai==1.0.6
langchain-groq==0.1.5
langchain-openai==0.1.9
langchain-text-splitters==0.2.1
pathlib==1.0.1
pydantic==2.7.3
requests==2.32.3
fuzzywuzzy==0.18.0
python-Levenshtein==0.25.1
IMAPClient==3.0.1
gpt4all==2.7.0
aiohttp==3.10.3
aioimaplib==1.1.0
PyMuPDF==1.24.5
PyMuPDFb==1.24.3
